* {
    margin: 0;
  }
  
p {
    color : #565e65 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
}

a {
    color: #1c2126;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
  }

h1 {
    font-family: montserrat;
}

h2 {
    font-family: montserrat;
}

h3 {
    font-family: montserrat;
}


h4 {
    font-family: montserrat;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
    padding: auto;
    position: fixed;
    background-color:white;
    width: 100%;
    height: 40px;  
    z-index: 1;
}

nav img {
    width: 80px;
}

nav a {
    color:#010101 ;
    font-size: 1em;
    font-weight: bold;
}

.banniere {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.banniere div {
    position: absolute;
    padding-top: 400px;
    padding-left: 600px;
    text-align: right;
}

.banniere img {
  width: 100%;
    heigth: 500px;
}

.banniere h1 {
    color:#D5F31F;
    font-size: 2em;
    position: absolute;
}
.banniere h2 {
    color:white;
}


ul {
    font-size: 0.8em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap : 20px;

}

a {
    text-decoration: none;
}

.notre-equipe {
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}

.notre-equipe h2 {
    color: #029D5B;
    padding-top: 40px;
    padding-bottom: 20px;
}
.equipe {
    position: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.equipe img {
    width: 160px;
    margin-bottom: 8px;
}

.notre-equipe h4 {
    margin-bottom: 40px ;
}

.equipe h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.equipe p {
    font-size: 10px;
    width: 200px;
}

.bas-equipe {
    width: 100%;
    background-color: #053b44;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 30px;
}

.bas-equipe h2 {
    color : #D5F31F;
    text-align: center;
}
.bas-equipe p {
    color : white;
    text-align: center;
}

.nos-services {
    background-color: white;
    text-align: center;
}

.nos-services h2 {
    color: #029D5B;
    padding-top: 40px;
    padding-bottom: 60px;
}
.web-audit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
}

.web-audit img:hover{
    background-color:#D5F31F;
}

.web-audit img{
    width: 200px;
    background-color:#f2f4f5 ;
    border-radius: 10px;
}

.web-audit h2 {
    font-size : 1em;
    color: #010101;  
}

.contact {
    background-color:#053b44;
    padding : 80px;

}
.contact h2{
    color : #D5F31F;
    margin-bottom: 40px;
    text-align: center;
}

.contact h4 {
    color : white;.
    font-size : 2em;
    margin-bottom: 40px;
    text-align: center;
}


input, textarea {
    background-color:#053b44;
    Border : none;
    border-bottom: 2px white solid;
    color : white;
    width: 100%;
    padding-top: 20px;
}

label{
    color : white;

}

textarea {
    height: 160px;
}

.conteneur {
    display: grid;
    grid-template-columns: 1fr 1 fr 1fr 1fr;
    gap: 30px;

}


.une {
    display: grid;
    grid-colum: 1/2;
    grid-row: 1/2;
}

.deux {
    display: grid;
    grid-colum: 2/3;
    grid-row: 1/2;
}


.trois {
    display: grid;
    grid-colum: 1/2;
    grid-row: 2/3;
}

.quatre {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.cinq {
    display: grid;
    grid-column: 1/3;
    grid-row: 3/4; 
}

.six {
    display: grid;
    grid-column: 1/3;
    grid-row: 4/5;
    padding-bottom: 30px;
}

.textarea {
    min-height: 300px;
  }

.envoyer {
    display: flex;
    justify-content: flex-end;
  }

input[type='submit'] {
    width: 130px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background-color: #D5F31F;
    border: none;
    color:#053b44;
}


.A-propos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    height: 300px;
}   

.A-propos img{
    border-radius: 20px;
    height: 250px;
    
}

.A-propos-text {
    border-radius: 20px;
    border: 0.5px black solid;
    padding: 30px;
    height: 190px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.Nous-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Nous-logos img {
    height: 40px;
    border: 3px #053b44 solid;
    border-radius: 40px;
    padding: 15px;
}

.galerie {
    width: 100%;
    text-align: center;
    padding: 30px;
}   

.galerie h2 {
    color: #029D5B;
    padding-bottom: 20px;
}

.galerie h4{
    padding-bottom: 40px;
}

.diapo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.diapo img{
    width: 100%;
    max-width: 700px;
    display: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

img.active {
    display: block;
    animation: fade 0.8s;
}

.fleches {
    width: 100%;
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap: 650px;
}

.fleche-nav {
    border-radius: 1000px;
    border:#010101 1px solid;
    padding: 8px 11px 8px 11px;
    cursor: pointer;
    font-size: 12px;
}

.fleche-nav:hover {
    background-color: black;
    color: white;
}

.nav-bas {
    width: 100%;
    background-color: #053b44;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


.nav-bas h3 {
    font-size: 13px;
    color:#f2f4f5;
    margin-bottom: 10px;
}

.nav-bas p, a {
    color: white;
  }

.nav-bas img{
    width: 25px;
  }

.nav-bas ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1%;
  }

.contact2 ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
}

.contact2 li {
    line-height: 60%;
}


.footer {
    width: 100%;
    background-color: #032329;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
   }

.footer p {
    color: white;
  }

.footer img {
    width: 20%;
}