* {
    margin: 0;
    padding: 0;
  }
  
p {
    color : #565e65 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
}

a {
    color: #1c2126;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
  }

h1 {
    font-family: montserrat;
}

h2 {
    font-family: montserrat;
}

h3 {
    font-family: montserrat;
}


h4 {
    font-family: montserrat;
}

header {
    background-color: white;
    width: calc(100% - 40px);
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;  
    z-index: 1;
    padding: 0px 20px;
}

.header_logo img {
    max-height: 40px;
}

.header_nav_menu {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    font-weight: 600;
    list-style: none;
    display: flex;
    gap : 10px;

}
.header_nav_menu_link {
    margin-right: 20px;
}

.header_nav_menu_link a:hover {
    color: #747070;
}

.header_nav_menu_link:last-of-type {
    margin-right: initial;
}

.header_nav_menu_link a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    position: relative;
}



.banniere {
    position: relative;

}

.banniere div {
    position: absolute;
    top: 200px;
    right: 60px;
    text-align: right;
}

.banniere img {
  width: 100%;
}


.banniere h1 {
    color:#D5F31F;
    font-size: 2em;

}
.banniere h2 {
    color:white;

}

.notre-equipe {
    text-align: center;
    padding : 50px;
}

.notre-equipe h2 {
    color: #029D5B;   
    padding-bottom: 20px;
}

.equipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.equipe img {
    width: 160px;
    padding-bottom: 10px; 
}


.equipe h4 {
    color:#032329;
    font-size: 1em;
    text-align: center;
}

.equipe p {
    padding: 20px;
    font-size: 10px;
    width: 220px;
    text-align: center;
}

.bas-equipe {
    background-color: #053b44;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.bas-equipe h2 {
    color : #D5F31F;
    text-align: center;
}
.bas-equipe p {
    color : white;
    text-align: center;
}

.nos-services {
    background-color: white;
    text-align: center;
}

.nos-services h2 {
    color: #029D5B;
    padding-top: 40px;
    padding-bottom: 60px;
}
.web-audit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 60px;
}

.web-audit img:hover{
    background-color:#D5F31F;
}

.web-audit img{
    width: 200px;
    background-color:#f2f4f5 ;
    border-radius: 10px;
}

.web-audit h2 {
    font-size : 1em;
    color: #010101;  
}

.contact {
    background-color:#053b44;
    padding : 80px;
}
.contact h2{
    color : #D5F31F;
    margin-bottom: 40px;
    text-align: center;
}

.contact h4 {
    color : white;
    font-size : 1em;
    margin-bottom: 40px;
    text-align: center;
}


input, textarea {
    background-color:#053b44;
    Border : none;
    border-bottom: 2px white solid;
    color : white;
    width: 100%;
    padding-top: 20px;
}

label{
    color : white;
}



.conteneur {
    display: grid;
    grid-template-columns: 1fr 1 fr 1fr ;
    gap: 30px;
}


.une {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.deux {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}


.trois {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.quatre {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.cinq {
    display: grid;
    grid-column: 1/3;
    grid-row: 3/4; 
}

.six {
    display: grid;
    grid-column: 1/3;
    grid-row: 4/5;
    padding-bottom: 30px;
}

textarea {
    min-height: 100px;
  }

.envoyer {
    display: flex;
    justify-content: flex-end;
  }

input[type='submit'] {
    width: 130px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background-color: #D5F31F;
    border: none;
    color:#053b44;
}


.A-propos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}   

.A-propos img{
    border-radius: 20px;
    height: 250px;
    
}

.A-propos-text {
    border-radius: 20px;
    border: 0.5px black solid;
    padding: 30px;
    height: 190px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.Nous-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Nous-logos img {
    height: 40px;
    border: 3px #053b44 solid;
    border-radius: 40px;
    padding: 15px;
}

.galerie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}   

.galerie h2 {
    color: #029D5B;
    padding-bottom: 20px;
}

.galerie h4{
    padding-bottom: 40px;
    text-align: center;
}

.diapo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.diapo img{
    display: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

img.active {
    display: block;
    animation: fade 0.8s;
}

.fleches {
    width: 100%;
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap: 650px;
}

.fleche-nav {
    border-radius: 1000px;
    border:#010101 1px solid;
    padding: 8px 11px 8px 11px;
    cursor: pointer;
    font-size: 12px;
}

.fleche-nav:hover {
    background-color: black;
    color: white;
}

.nav-bas {
    width: 100%;
    background-color: #053b44;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


.nav-bas h3 {
    font-size: 13px;
    color:#f2f4f5;
    margin-bottom: 10px;
}

.nav-bas p, a {
    color: white;
  }

.nav-bas img{
    width: 25px;
  }

.nav-bas ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1%;
  }

.contact2 ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
}

.contact2 li {
    line-height: 60%;
}


.footer {
    width: 100%;
    background-color: #032329;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
   }

.footer p {
    color: white;
  }

.footer img {
    width: 20%;
}

.header_burger {
    display: none;
}

.header_burger svg {
    stroke:#032329;
    width: 30px;
    height: 30px;
}

.header_nav_close {
    stroke: white;
    display: none;
}

@media screen and (max-width: 600px) {

    .header_burger {
        display: block;
        cursor: pointer;
    }
    
    .header_nav {
        position : fixed;
        background-color: rgba(5, 59, 69, 0.95);
        top: 0px;
        right: 0px;
        width: 60%;
        height: 100vh;
        display: none;
    }

     .header_nav.open {
     display: flex;
     animation: transformMenu 0.8s ease-in-out forwards;
     animation: transformMenu 0.8s ease-in ;
    }
   

    @keyframes transformMenu {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: initial;
    }
}

.header_nav_menu {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_nav_menu_link {
    margin-right: 0;
    margin-bottom: 12px;
}

.header_nav_menu_link a {
    color: white;
    font-size: 18px;
    top: 50px;
    left: 50px;
}
.header_nav_menu_link a:hover {
    color:#D5F31F;
}

.header_nav_close {
    display: block;
    cursor: pointer;   
}

.header_nav_close svg {
    stroke: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
}

}