* {
    margin: 0;
  }
  
p {
    color : #565e65 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
}

a {
    color: #1c2126;
  }

h1 {
    font-family: montserrat;
}

h2 {
    font-family: montserrat;
}

h3 {
    font-family: montserrat;
}


h4 {
    font-family: montserrat;
    font-size: 0.8em;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
    padding: auto;
    position: fixed;
    background-color:white;
    width: 100%;
    height: 40px;  
    z-index: 1;
}
nav img {
    width: 80px;
}

.banniere {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
   
}

.banniere div {
    position: absolute;
    padding-top: 400px;
    padding-left: 600px;
    text-align: right;
}

.banniere img {
  width: 100%;

}

.banniere h1 {
    color:#D5F31F;
    font-size: 2em;
    position: absolute;
}
.banniere h2 {
    color:white;
}


ul {
    font-size: 0.8em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap : 20px;

}

a {
    text-decoration: none;
}

.notre-equipe {
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}

.notre-equipe h2 {
    color: #029D5B;
    padding-top: 40px;
    padding-bottom: 20px;
}
.equipe {
    position: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.equipe img {
    width: 150px;
    margin-bottom: 8px;
}

.notre-equipe h4 {
    margin-bottom: 40px ;
}

.equipe h4 {
    margin-bottom: 10px;
}

.bas-equipe {
    width: 100%;
    background-color: #053b44;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px;
}

.bas-equipe h2 {
    color : #D5F31F;
    text-align: center;
}
.bas-equipe p {
    color : white;
    text-align: center;
}

.nos-services {
    background-color: white;
    text-align: center;
}

.nos-services h2 {
    color: #029D5B;
    padding-top: 40px;
    padding-bottom: 60px;
}
.web-audit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
}

.web-audit img{
    width: 200px;
    background-color:#f2f4f5 ;
    border-radius: 10px;
}

.web-audit h2 {
    font-size : 1em;
    color: #010101;  
}

.contact {
    background-color:#053b44;
    padding : 50px;
}
.contact h2{
    color : #D5F31F;
    margin-bottom: 40px;
    text-align: center;
}

.contact h4{
    color : white;.
    font-size : 1em;
    margin-bottom: 40px;
    text-align: center;
}

form {
    gap: 60 px;
}

.P1-contact {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

textarea {
    height: 400px;
    max-width: 800 px;
  }

.Envoyer {
    color:#D5F31F
    padding: 10px
    border: 10px;
  }

.A-propos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    height: 300px;
}   

.A-propos img{
    border-radius: 20px;
    height: 250px;
    
}

.A-propos-text {
    border-radius: 20px;
    border: 0.5px black solid;
    padding: 30px;
    height: 190px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.Nous-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Nous-logos img {
    height: 40px;
    border: 3px #053b44 solid;
    border-radius: 40px;
    padding: 15px;
}

.galerie {
    text-align: center;
    width : 850px;
    overflow: auto;
}   


.galerie h2 {
    color: #029D5B;
    padding-top: 20px;
    padding-bottom: 20px;
}

.galerie h4 {
    padding-bottom: 20px;
}

.elements {
    display: flex;
    animation-duration: 5s;
    animation-name: notreGalerie ;
}

@keyframes notreGalerie {
    0% {
        transforme: translateX(0)
    }
    33% {
        transforme: translateX(0)
    }
    66%
        transforme: translateX(0)   
}

.footer1 {
    background-color: #053b44;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding : 50px;
    gap: 40px;
  }

.footer1 h3 {
    font-size: 0.7em;
    padding-bottom : 10px;
  }

.footer1 p {
    color: white;
  }



.footer2 {
    background-color: #032329;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 15px;
   }

.footer2 p {
    color: white;
  }

.footer2 img {
    width: 20%;
}